.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e2e8f0;
}
.card {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 80px 40px;
  gap: 20px;
  border-radius: 12px;
  box-shadow: 5px 5px 5px rgb(41, 40, 40, 0.5);
}
.title {
  color: #111111;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  text-align: center;
  margin-bottom: 0px;
}
.text {
  color: #111111;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  text-align: center;
}

.centre {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.button {
  padding: 5px 20px !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.input {
  padding: 5px 15px;
  font-size: 18px;
  border: none;
  border: 1px solid #515050;
  outline: none;
  border-radius: 5px;
  width: 75%;
}
.inputPass {
  padding: 5px 15px;
  font-size: 18px;
  border: none;
  /* border: 1px solid #515050; */
  outline: none;
  border-radius: 5px;
  width: 75%;
}
.passwordBox {
  width: 75%;
  border: 1px solid #515050;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.passwordBox .toggleBtn {
  border: none;
  margin-right: 10px;
  font-size: 18px;
}
